@font-face {
  font-family: 'Julius Sans One';
  src: url("../fonts/Julius_Sans_One/JuliusSansOne-Regular.0c044b4b8615.ttf");
}

@font-face {
  font-family: 'Oregano';
  src: url("../fonts/Oregano/Oregano-Regular.5ae40651c402.ttf");
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-SemiBold.713ac08dfb71.ttf");
}

strong {
  font-weight: 900;
}

body {
  background-color: #e0e0e07a;
  font-family: 'Nunito';
}

.highlight {
  font-family: 'Julius Sans One';
  /* color: black; */
}

.price {
  font-family: 'Oregano', cursive;
  font-size: 3rem;
  color: #9500ff;
}

.heavy {
  font-weight: bold;
  font-size: 20px;
}

.no-disp {
  display: none;
}

.section-title {
  font-family: 'Oregano';
  font-size: 40px;
}

.credentials {
  font-family: 'Nunito';
}

/* .card {
  width: 25.5rem;
} */

.authentication {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.img-responsive{
  width: 65%;
  border-radius: 15rem;

}

header {
  background: linear-gradient(#0000008f, #0000008f, #000000cf), url("../images/bgf.032e617edc20.jpg");
  background-size: cover;
  color: white !important;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .text-area {
  background-color: white;
  border-radius: .4rem;
  box-shadow: 4px 5px 20px 20px #80808014;
} */

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 31%;
  left: 0;
  right: 0;
}

.contact-form {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* top: 0; */
  /* bottom: 31%; */
  /* left: 0; */
  /* right: 0; */
}

.center-position {
  display: flex;
  align-items: center;
}

.center-items {
  display: flex;
  justify-content: center;
}

.form-control{
  color: black;
}

input.big {
  width: 6rem;
}

.active-users{
  border-left: solid 1px #80808078;
  border-top: none;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.form-group.submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-row {
  margin: 10px 40px 18px;
}

.line {
  position: relative;
  top: .45em;
  height: 1px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #737373;
}

.line-text {
  color: #737373;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 15px;
  margin: 0 18px;
  text-transform: uppercase;
}

/* Scroll to top */
.top {
  margin-top: 5rem;
}

#scroll-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 60px;
  z-index: 990;
  font-size: 22px;
  width: 2.6rem;
  text-align: center;
  border: none;
  outline: none;
  background-color: #000000f2;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.active-data,
.contain-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 16rem;
}

footer {
  background-color: #020202;
  color: white;
}

hr.footer-hr {
  border-top: 1px solid rgba(208, 208, 208, 0.29);
}

.go-right {
  display: flex;
  justify-content: flex-end;
}

a.footer-link {
  color: white;
}

a.footer-link:hover {
  text-decoration: none;
  color: #0056b3;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer.down {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 992px) {
  #mainNav {
    display: none;
  }

  .top {
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
}

@media(max-width: 768px) {
  .center-position {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .go-right {
    display: flex;
    justify-content: center;
  }
  .active-users{
    border-top: solid 1px #80808078;
    border-left: none;
  }
}